/*Variable*/
$primaryColor : #b1494a;

/*Setup General*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    height: 1024px;
    max-width: 1440px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
    font-size: 22px;
}
.upper{
    text-transform: uppercase;
}
/*Page Accueil*/
    /*Banniere*/
.index-header{
    background-color: lightgray;
    height: 110px;
    border-bottom: 4px solid $primaryColor;
    .logo{
        margin-left: 2%;
        height: 100%;
        img{
            height: 100%;
        }
    }
    nav{
        width: 40%;
        .link{
            &:hover{
                color: $primaryColor;
                border-bottom: 2px solid $primaryColor;
                margin-bottom: 14px;
            }
        }
        .btn-shop{
            border: 2px solid $primaryColor;
            border-radius: 5px;
            height: 40px;
            width: 130px;
            padding-left: 10px;
            padding-right: 10px;
            &:hover{
                background-color: $primaryColor;
                color: white;
            }
        }
    }
}
/*Corps*/
.index-main{
    height: 100%;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .index-title{
        color: white;
        font-size: 20px;
        width: 50%;
        position: absolute;
        right: 1%;
        top: 50%;
        h1{
            margin: 10px;
        }
        .before-white{
            height: 5px;
            width: 36%;
            background-color: white;
            margin-right: 20px;
        }
    }
}
/*Page Esprit*/
.spirit-header{
    height: 110px;
    background-color: $primaryColor;
    padding-left: 2%;
}
/*Page Shop*/
.shop-header{
    height: 110px;
    background-color: $primaryColor;
    padding-right: 2%;
}
/*Page Contact*/
.contact-header{
    height: 110px;
    background-color: $primaryColor;
    padding-left: 2%; 
}
.contact-main{
    .before-red{
        height: 4px;
        width: 200px;
        background-color: $primaryColor;
        margin-right: 20px;
    }
    form{
        width: 50%;
        margin-top: 50px;
        input{
            height: 30px;
            border-radius: 5px;
            border: 2px solid $primaryColor;
            margin: 5px 0 20px;
            padding-left: 10px;
        }
        textarea{
            border-radius: 5px;
            border: 2px solid $primaryColor;
            margin: 5px 0 20px;
            padding-left: 10px;

        }
        button{
            color: white;
            background-color: $primaryColor;
            border-radius: 5px;
            height: 30px;
            width: 150px;
            &:hover{
                background-color: white;
                color: $primaryColor;
            }
        }
        .form-line1{
            width: 45%;
        }
        .form-line2-item{
            width: 45%;
        }
    }
}
/*Page Grattes*/
.shop-top-block{
    width: 40%;
    h2{
        white-space: nowrap;
        margin-right: 20px;
    }
    .after-red{
        height: 4px;
        width: 100%;
        background-color: $primaryColor;
        margin-right: 20px;
    }
    p{
        line-height: 40px;
        text-align: justify;
    }
}
.shop-bottom-block{
    width: 100%;
    margin-top: 50px;
}
.shop-item{
    width: 17%;
    height: 500px;
    margin: 0 10px 0 10px;
    .item-name{
        width: 100%;
        text-align: center;
    }
    .item-pic{
        width: 100%;
        height: 400px;
        overflow: hidden;
        img{
            height: 100%;
        }
    }
    .old-price{
        text-decoration: line-through;
    }
    .item-price{
        width: 100%;
        text-align: center;
    }
    .btn-shop{
        background-color: $primaryColor;
        color: white;
        font-weight: bold;
        height: 40px;
        width: 50%;
        border-radius: 5px;
        text-align: center;
        &:hover{
            background-color: white;
            color: $primaryColor;
            border: 1px solid $primaryColor;
            margin-top: 14px;
        }
    }    
}
.main-spirit{
    height: calc(100% - 110px);
    width: 100%;
    .cards{
        margin: 5%;
        height: 100%;
    }
    .left-block{
        width: 50%;
        h2{
            white-space: nowrap;
        }
        p{
            line-height: 40px;
            text-align: justify;
        }
    }
    .right-block{
        width: 50%;
        height: 100%;
        .picture{
            width: 85%;
            height: 88%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .picture-top{
                height: 60%;
                width: 100%;
                margin-bottom: 20px;
                .pic-top-left{
                    height: 100%;
                    width: 55%;
                    margin-right: 10px;                    
                }
                .pic-top-right{
                    width: 45%;
                    height: 100%;
                    margin-left: 10px;
                }
            }
            .picture-bottom{
                width: 100%;
                height: 40%;
            }
        }
    }
    .after-red{
        height: 4px;
        background-color: $primaryColor;
        width: 100%;
        margin-left: 20px;
    }
    .before-red{
        height: 4px;
        background-color: $primaryColor;
        width: 100%;
        margin-right: 20px;
    }
}

@media (max-width: 1200px) {
    .index-header{
       nav{
        width: 50%;
        a{
            font-size: 20px;
        }
        } 
    }    
}
@media (max-width: 1024px){
    .shop-top-block{
        width: 75%;
    }
}
@media (max-width: 900px) {
    .index-header{
        flex-direction: column;
        height: 150px;
        .logo{
            height: 50%;
        }
        nav{
            width: 90%;
        }
    }    
}
@media (max-width: 768px) {
    form{
        width: 75% !important;
        .form-line1{
            width: 100% !important;
        }
        .form-line2{
            flex-direction: column !important;
            .form-line2-item{
                width: 100%;
            }
        }
    }
    .shop-bottom-block{
        flex-wrap: wrap;
    }
    .shop-item{
        width: 45%;
    }
}
@media (max-width: 425px) {
    .index-header{
        nav{
            p{
                text-align: center;
            }
            a{
                font-size: 15px;
            }
        }
    }
}

/*ajouter media querie à 500px
    page shop
    sur element h2
    et enlever le text wrap*/

/* voir display titre page contact
    faire media querie 768 */