@charset "UTF-8";
/*Variable*/
/*Setup General*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  height: 1024px;
  max-width: 1440px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  background: center/cover no-repeat url("../img/image4.jpg");
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
}

.upper {
  text-transform: uppercase;
}

/*Page Accueil*/
/*Banniere*/
.index-header {
  background-color: lightgray;
  height: 110px;
  border-bottom: 4px solid #b1494a;
}
.index-header .logo {
  margin-left: 2%;
  height: 100%;
}
.index-header .logo img {
  height: 100%;
}
.index-header nav {
  width: 40%;
}
.index-header nav .link:hover {
  color: #b1494a;
  border-bottom: 2px solid #b1494a;
  margin-bottom: 14px;
}
.index-header nav .btn-shop {
  border: 2px solid #b1494a;
  border-radius: 5px;
  height: 40px;
  width: 130px;
  padding-left: 10px;
  padding-right: 10px;
}
.index-header nav .btn-shop:hover {
  background-color: #b1494a;
  color: white;
}

/*Corps*/
.index-main {
  height: 100%;
  position: relative;
}
.index-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.index-main .index-title {
  color: white;
  font-size: 20px;
  width: 50%;
  position: absolute;
  right: 1%;
  top: 50%;
}
.index-main .index-title h1 {
  margin: 10px;
}
.index-main .index-title .before-white {
  height: 5px;
  width: 36%;
  background-color: white;
  margin-right: 20px;
}

/*Page Esprit*/
.spirit-header {
  height: 110px;
  background-color: #b1494a;
  padding-left: 2%;
}

/*Page Shop*/
.shop-header {
  height: 110px;
  background-color: #b1494a;
  padding-right: 2%;
}

/*Page Contact*/
.contact-header {
  height: 110px;
  background-color: #b1494a;
  padding-left: 2%;
}

.contact-main {
  background-color: white;
  width: 100%;
  height: calc(1024px - 110px);
}
.contact-main .before-red {
  height: 4px;
  width: 200px;
  background-color: #b1494a;
  margin-right: 20px;
}
.contact-main form {
  width: 50%;
  margin-top: 50px;
}
.contact-main form input {
  height: 30px;
  border-radius: 5px;
  border: 2px solid #b1494a;
  margin: 5px 0 20px;
  padding-left: 10px;
}
.contact-main form textarea {
  border-radius: 5px;
  border: 2px solid #b1494a;
  margin: 5px 0 20px;
  padding-left: 10px;
}
.contact-main form button {
  color: white;
  background-color: #b1494a;
  border-radius: 5px;
  height: 30px;
  width: 150px;
}
.contact-main form button:hover {
  background-color: white;
  color: #b1494a;
}
.contact-main form .form-line1 {
  width: 45%;
}
.contact-main form .form-line2-item {
  width: 45%;
}

/*Page Grattes*/
.shop-main {
  background-color: white;
  height: calc(1024px - 110px);
}

.shop-top-block {
  width: 40%;
}
.shop-top-block h2 {
  white-space: nowrap;
  margin-right: 20px;
}
.shop-top-block .after-red {
  height: 4px;
  width: 100%;
  background-color: #b1494a;
  margin-right: 20px;
}
.shop-top-block p {
  line-height: 40px;
  text-align: justify;
}

.shop-bottom-block {
  width: 100%;
  margin-top: 50px;
}

.shop-item {
  width: 17%;
  height: 500px;
  margin: 0 10px 0 10px;
}
.shop-item .item-name {
  width: 100%;
  text-align: center;
}
.shop-item .item-pic {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.shop-item .item-pic img {
  height: 100%;
}
.shop-item .old-price {
  text-decoration: line-through;
}
.shop-item .item-price {
  width: 100%;
  text-align: center;
}
.shop-item .btn-shop {
  background-color: #b1494a;
  color: white;
  font-weight: bold;
  height: 40px;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}
.shop-item .btn-shop:hover {
  background-color: white;
  color: #b1494a;
  border: 1px solid #b1494a;
  margin-top: 14px;
}

.main-spirit {
  height: calc(100% - 110px);
  width: 100%;
  background-color: white;
}
.main-spirit .cards {
  margin: 5%;
  height: 100%;
}
.main-spirit .left-block {
  width: 50%;
}
.main-spirit .left-block h2 {
  white-space: nowrap;
}
.main-spirit .left-block p {
  line-height: 40px;
  text-align: justify;
}
.main-spirit .right-block {
  width: 50%;
  height: 100%;
}
.main-spirit .right-block .picture {
  width: 85%;
  height: 88%;
}
.main-spirit .right-block .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main-spirit .right-block .picture .picture-top {
  height: 60%;
  width: 100%;
  margin-bottom: 20px;
}
.main-spirit .right-block .picture .picture-top .pic-top-left {
  height: 100%;
  width: 55%;
  margin-right: 10px;
}
.main-spirit .right-block .picture .picture-top .pic-top-right {
  width: 45%;
  height: 100%;
  margin-left: 10px;
}
.main-spirit .right-block .picture .picture-bottom {
  width: 100%;
  height: 40%;
}
.main-spirit .after-red {
  height: 4px;
  background-color: #b1494a;
  width: 100%;
  margin-left: 20px;
}
.main-spirit .before-red {
  height: 4px;
  background-color: #b1494a;
  width: 100%;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .index-header nav {
    width: 50%;
  }
  .index-header nav a {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .shop-top-block {
    width: 75%;
  }
}
@media (max-width: 900px) {
  .index-header {
    flex-direction: column;
    height: 150px;
  }
  .index-header .logo {
    height: 50%;
  }
  .index-header nav {
    width: 90%;
  }
}
@media (max-width: 768px) {
  form {
    width: 75% !important;
  }
  form .form-line1 {
    width: 100% !important;
  }
  form .form-line2 {
    flex-direction: column !important;
  }
  form .form-line2 .form-line2-item {
    width: 100%;
  }

  .shop-bottom-block {
    flex-wrap: wrap;
  }

  .shop-item {
    width: 45%;
  }
}
@media (max-width: 425px) {
  .index-header nav p {
    text-align: center;
  }
  .index-header nav a {
    font-size: 15px;
  }
}
/*ajouter media querie à 500px
    page shop
    sur element h2
    et enlever le text wrap*/
/* voir display titre page contact
    faire media querie 768 */

/*# sourceMappingURL=style.css.map */
